<div
  data-controller="sortable"%>
  <table class="w-full text-sm text-gray-200">
    <thead>
      <tr class="border-b border-gray-800">
        <th class="py-2 text-left">Piloto</th>
        <th class="py-2 text-left">Equipe</th>
        <th class="py-2 text-right w-20">Posição</th>
      </tr>
    </thead>

    <tbody>
      <% drivers.each_with_index do |driver, index| %>
        <tr
          data-sortable-target="row"
          data-driver-id="<%= driver.id %>"
          draggable="true"
          class="border-b border-gray-900 hover:bg-gray-900 cursor-move"
        >
          <!-- PILOTO -->
          <td class="py-2 font-medium text-gray-200">
            <img src="<%= driver.headshot_url %>" class="w-9 h-9 rounded-full">

            <%= driver.name %>
          </td>

          <!-- EQUIPE -->
          <td class="py-2 text-gray-400">
            <%= driver.team %>
          </td>

          <!-- POSIÇÃO -->
          <td class="py-2 text-right text-gray-400 flex items-center justify-end gap-2">
            <span data-sortable-target="position">
              <%= index + 1 %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- BOTÃO SAVE -->
  <div class="mt-4 flex justify-end">
    <button
      type="button"
      data-action="click->sortable#confirm"
      class="px-4 py-2 bg-green-600 rounded hover:bg-green-700 text-white">
      Salvar
    </button>

  </div>
</div>
