<div id="<%= dom_id result %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Race:</strong>
    <%= result.race_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Driver:</strong>
    <%= result.driver_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Position:</strong>
    <%= result.position %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Points:</strong>
    <%= result.points %>
  </div>
</div>
