<!DOCTYPE html>
<html lang="pt-BR" class="bg-[#0a0a0a] h-full">
  <head>
    <title>F1bet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      html, body {
        background-color: #0a0a0a !important;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
<body class="bg-black text-white font-sans antialiased min-h-screen relative selection:bg-[#FF8700] selection:text-black">

  <div class="fixed inset-0 bg-[#0a0a0a] z-0"></div>



  <div class="relative z-10 flex flex-col min-h-screen">

    <%= render "layouts/navbar" %>

    <main class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <%= yield %>
    </main>

  </div>
  </body>
</html>
